<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<div class="container">
    <div class="row">
        
        
  <link href="http://fontawesome.io/assets/font-awesome/css/font-awesome.css" rel="stylesheet" media="screen">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" type="text/css" rel="stylesheet">
  
  <div class="col-md-12">
<div class="panel with-nav-tabs panel-default">
    <div class="panel-heading">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#tab1default" data-toggle="tab">Default 1</a></li>
                <li><a href="#tab2default" data-toggle="tab">Default 2</a></li>
                
                <li><a href="#tab3default" data-toggle="tab">Default 3</a></li>
                <!--
                <li class="dropdown">
                    <a href="#" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#tab4default" data-toggle="tab">Default 4</a></li>
                        <li><a href="#tab5default" data-toggle="tab">Default 5</a></li>
                    </ul>
                </li>
                -->
            </ul>
    </div>
    <div class="panel-body">
        <div class="tab-content">
            <div class="tab-pane fade in active" id="tab1default">
                <div class=col-lg-12>
    
                    <form id="form-list-client">
                            <legend>List of clients</legend>
                    
                    <div class="pull-right">
                        <a class="btn btn-default-btn-xs btn-primary"><i class="glyphicon glyphicon-refresh"></i> Refresh</a>
                        <a class="btn btn-default-btn-xs btn-success"><i class="glyphicon glyphicon-plus"></i> New</a>
                    </div>
                    <table class="table table-bordered table-condensed table-hover">
                        <thead>
                            <tr>
                                <td>Name</td>
                                <th>Email</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                                
                        </thead>
                        <tbody id="form-list-client-body">
                            <tr>
                                <td>Eduardo</td>
                                <td>eluz@counterpath.com</td>
                                <td>Active</td>
                                <td>
                                    <a title="view this user" class="btn btn-default btn-md "> <i class="glyphicon glyphicon-eye-open text-primary"></i> </a>
                                    <a title="edit this user" class="btn btn-default btn-md "> <i class="glyphicon glyphicon-edit text-primary"></i> </a>
                                    <a title="delete this user" class="btn btn-default btn-md "> <i class="glyphicon glyphicon-trash text-danger"></i> </a>
                                    
                                    <a title="check credit" class="btn btn-default btn-md "> <i class="glyphicon glyphicon-duplicate text-danger"></i> </a>
                                    <a title="generate invoice" class="btn btn-default btn-md "> <i class="glyphicon glyphicon-level-up bg-success"></i> </a>
                                   
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    </form>
                
                    
                </div>
                
            </div>
            <div class="tab-pane fade" id="tab2default">123321321321321321321321321321321321321</div>
            <div class="tab-pane fade" id="tab3default">Default 3</div>
            <!--
            <div class="tab-pane fade" id="tab4default">Default 4</div>
            <div class="tab-pane fade" id="tab5default">Default 5</div>
            -->
        </div>
    </div>
  </div>
  </div>
